.about
    .container
        .about__inner
            .about__column.about__column--service(style="background-image: url(assets/images/about/arrow-line.png)")
                .about-service__item.about-service__item--book
                    .about-service__item-wrap
                        .about-service__item-icon
                            include ../../assets/images/about/book.svg
                    span.about-service__item-text Приём и детальное обсуждение заказа
                .about-service__item.about-service__item--comp
                    .about-service__item-wrap
                        .about-service__item
                            .about-service__item-icon
                                include ../../assets/images/about/comp.svg
                    span.about-service__item-text Создание и согласование дизайн-макета
                    .about-arrow.about-arrow--comp
                        img(src="assets/images/about/arrow-1.png", alt="")
                .about-service__item.about-service__item--writer
                    .about-service__item-wrap
                        .about-service__item
                            .about-service__item-icon
                                include ../../assets/images/about/writer.svg
                    span.about-service__item-text Печать и постпечатная обработка изделий любых размеров
                    .about-arrow.about-arrow--writer
                        img(src="assets/images/about/arrow-2.png", alt="")
                .about-service__item.about-service__item--moving
                    .about-service__item-wrap
                        .about-service__item
                            .about-service__item-icon.about-service__item-icon--moving
                                include ../../assets/images/about/moving.svg
                    span.about-service__item-text Доставка готовой продукции
                    .about-arrow.about-arrow--moving
                        img(src="assets/images/about/arrow-3.png", alt="")
            .about__column.about__column--right
                h2.about__title.title 1. О нас
                span.about__description.description Полный спектр услуг — от дизайна до печати
                p.about__text.text К&nbsp;вашим услугам мы&nbsp;предлагаем полный спектр работ, начиная от&nbsp;печати открыток, чертежей, баннеров, растяжек, создания буклетов и&nbsp;эксклюзивных календарей, и&nbsp;заканчивая постпечатной обработкой. 
                p.about__text.text В&nbsp;копицентре не&nbsp;просто предоставляют услуги печати: мы&nbsp;ориентируемся на&nbsp;комплексное обслуживание. Все услуги, будь&nbsp;то оперативная цифровая печать открыток или разработка серии календарей, Вы&nbsp;можете получить в&nbsp;одном месте, воспользовавшись сопутствующими услугами копицентра. 
                p.about__text.text При этом работа выполняется в максимально сжатые сроки и не в ущерб качеству конечного результата, которое неизменно остается на высоте.
        .grid-line.grid-line--1
        .grid-line.grid-line--2
        .grid-line.grid-line--3
        .grid-line.grid-line--4
        .grid-line.grid-line--5