.about{
    padding-top: 114px;
    padding-bottom: 145px;
    &__inner{
        display: flex;
        position: relative;
        
        @include media-breakpoint-down(tablet) {
            flex-direction: column;
        }
    }
    &__title{
        margin-bottom: 64px
    }
    &__description{
        width: 370px;
        max-width: 100%;
        display: block;
    }
    &__text{
        margin-bottom: 30px;
    }
    &-service{
        &__item{
            display: inline-block;
            text-align: center;
            &-wrap{
                width: 106px;
                height: 106px;
                border-radius: 50%;
                background-color: #f0e2ff;
                position: relative;
                margin: 0 auto 15px;
            }
            &-icon{
                width: 55px;
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%, -50%);
                &--moving{
                    width: 70px;
                }
            }
            &-text{
                display: block;
                width: 164px;
                max-width: 100%;
                font-size: 13px;
                line-height: 18px;
                color: #5e606a;
                font-family: "Open Sans", sans-serif;
            }
            &--book{
                position: absolute;
                right: 246px;
                top: 0;

                @include media-breakpoint-down(tablet) {
                    right: auto;
                    left: 162px;
                    top: 38px;
                }
            }
            &--comp{
                position: absolute;
                right: 37px;
                top: 139px;
                @include media-breakpoint-down(tablet) {
                    right: 0;
                }
            }
            &--writer{
                position: absolute;
                bottom: 187px;
                left: -10px;
                @include media-breakpoint-down(tablet) {
                    bottom: 58px;
                    left: 0px;
                }
            }
            &--moving{
                position: absolute;
                bottom: 55px;
                right: 210px;
                @include media-breakpoint-down(tablet) {
                    bottom: -35px;
                    right: 178px;
                }
            }
        }
    }
    &__column{
        width: 50%;
        position: relative;
        &--right{
            padding-left: 50px;

            @include media-breakpoint-down(tablet) {
                order: -1;
                padding-left: 0;
                width: 100%;
            }
        }
        &--service{
            background-repeat: no-repeat;
            background-position: 42% 23%;
            background-size: 56%;
            background-image: url('../assets/images/about/arrow-line.png');

            @include media-breakpoint-down(tablet) {
                width: 100%;
                height: 454px;
                background-image: url('../assets/images/about/arrow-line-tablet.png');
                background-position: center center;
                background-size: 484px;
                max-width: 710px;
                margin: 0 auto;
            }
        }
    }
    &-arrow{
        position: absolute;
        &--comp{
            left: 48px;
            top: -8px;

            @include media-breakpoint-down(tablet) {
                left: 23px;
                top: 20px;
            }
        }
        &--writer{
            top: -1px;
            left: 114px;
        }
        &--moving{
            top: -9px;
            left: 45px;    

            @include media-breakpoint-down(tablet) {
                top: 28px;
                left: 17px;
            }
        }
    }
}