.header
    .container
        .header__inner
            a.header__logo(href="#") Artactive
            .header__menu
                .header__menu-nav.nav
                    a.nav__item(href="#") О нас 
                    a.nav__item(href="#") Услуги
                    a.nav__item(href="#") Отзывы
                    a.nav__item(href="#") Faq
                    a.nav__item(href="#") Контакты
                .header__menu-contact.contact
                    a.contact__phone(href="#") +7 (920) 148 81 31
                    a.contact__button(href="#") Заказать звонок