/**
 * Global
 */
 
*,
*::after,
*::before {
    outline: none !important;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    touch-action: manipulation;
}

html,
body {
    width: 100%;
    font-size: 16px;
    line-height: normal;
    color: #000;
    font-family: 'Muller', sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    &.is-hidden{
        overflow: hidden;
    }
}
html {
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
    @include media-breakpoint-down(tablet) {
        margin: 0 14px;
        padding: 0 15px;
        width: auto;
    }
    @include media-breakpoint-down(mobile) {
        margin: 0 20px;
    }
}

.grid-line{
    width: 1px;
    height: 100vh;
    position: absolute;
    top: -114px;
    bottom: 0;
    background-color: #f3f3f3;
    z-index: -1;
    &--1{
        left: -22px;
        @include media-breakpoint-down(tablet) {
            left: -15px;
        }
    }
    &--2{
        left: 270px;
    }
    &--3{
        left: 50%;
        transform: translateX(-50%);
    }
    &--4{
        right: 274px;
    }
    &--5{
        right: -19px;
        @include media-breakpoint-down(tablet) {
            right: -15px;
        }
    }
}

