.footer
    .container
        .footer__inner
            span.footer__text ООО «АртАктив», 2017 ©
            a(href="#").footer__text.footer__text--link Политика конфиденциальноси
            span.footer__text Designed by Sergey Strogiy