.btn {
    text-align: center;
    background-color: #fb0275;
    padding: 14px 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 30px;
    display: inline-block;
    color: #fff;
}