.service
    .container
        .service__title.title 2. Услуги
        .service__inner
            .service__column-left
                .service__wrapper 
                    span.service__description.description Широкоформатная печать баннеров, растяжек, афиш
                ul.service__list
                    li.service__list-item.text подготовка макетов к печати, дизайн рекламных баннеров
                    li.service__list-item.text срочная печать за 3 часа
                    li.service__list-item.text проварка карманов и сварка нескольких изображений
                    li.service__list-item.text пробивка люверсов и вварка монтажных тросов
                    li.service__list-item.text изготовление цветопробы
                    li.service__list-item.text доставка баннеров
                .service__contact
                    .service__contact-column
                        span.service__contact-title Есть вопросы?
                        span.service__contact-text Закажите консультацию
                    .servive__contact-column
                        a(href="#").service__contact-btn.btn Заказать
            .service__column-right
                .swiper-container.swiper-container--service
                    .swiper-wrapper
                        .swiper-slide(style="background-image: url('assets/images/slide.jpg')")
                        .swiper-slide(style="background-image: url('assets/images/slide1.jpg')")
                        .swiper-slide(style="background-image: url('assets/images/slide2.jpg')")
                .swiper__pagination
                    .service-button-prev.swiper-button-prev-custom
                    .service-button-next.swiper-button-next-custom