@import '_swiper';

.service{
    background-color: #faf8fb;
    padding-bottom: 182px;
    padding-top: 100px;
    position: relative;

    @include media-breakpoint-down(tablet) {
        padding-top: 77px;
        padding-bottom: 267px;
    }

    @include media-breakpoint-down(mobile) {
        padding-top: 63px;
    }
    &__title{
        margin-bottom: 90px;

        @include media-breakpoint-down(tablet) {
            margin-bottom: 57px;
        }
    }
    &__list{
        &-item{
            position: relative;
            padding-left: 9px;
           &::after{
               content: '';
               position: absolute;
               left: 0px;
               top: 50%;
               transform: translateY(-50%);
               width: 3px;
               height: 3px;
               background-color: #5e606a;
               border-radius: 50%;
               display: block;

               @include media-breakpoint-down(mobile) {
                top: 13px;
            }
           }
        }
    }
    &__inner{
        display: flex;

        @include media-breakpoint-down(tablet) {
            flex-wrap: wrap;
        }
    }
    &__description{
        position: relative;
        display: block;
        z-index: 1;

        @media (max-width: 1023px) {
            width: 600px;
        }

        @include media-breakpoint-down(mobile) {
            width: 100%;
        }
    }
    &__wrapper{
        position: relative;
        &::after{
            content: '1';
            position: absolute;
            left: -79px;
            bottom: 0;
            top: -104px;
            font-size: 200px;
            font-weight: 900;
            color: #faf8fb;
            text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

            @include media-breakpoint-down(tablet) {
                left: 45px;
                top: -91px;
            }
        }
    }
    &__column-left,
    &__column-right{
        width: 50%;

        @media (max-width: 1023px) {
            width: 100%;
        }
    }
    &__column-left{
        @media (max-width: 1023px) {
            margin-bottom: 45px;
        }
    }
    &__contact{
        display: flex;
        background-color: #883eca;
        justify-content: space-between;
        padding: 35px 40px;
        color: #fff;
        align-items: center;
        width: 474px;
        max-width: 100%;
        border-radius: 10px;
        margin-top: 72px;
        box-shadow: 0px 11px 26px 0px rgba(0, 0, 0, 0.5);
        @media (max-width: 1023px) {
            width: auto;
            position: absolute;
            bottom: 90px;
            left: 29px;
            right: 29px;
        }

        @include media-breakpoint-down(mobile) {
            left: 15px;
            right: 15px;
            display: block;
            padding: 30px 26px;
            bottom: 30px;
        }
        &-title{
            font-size: 13px;
            font-family: "Open Sans", sans-serif;
            font-style: italic;
            display: block;
            line-height: 24px;

            @media (max-width: 1023px) {
                margin-right: 41px;
            }
        }
        &-text{
            font-size: 16px;
            display: block;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            line-height: 24px;
        }
        &-btn{
            width: 170px;
            max-width: 100%;

            @media (max-width: 1023px) {
                width: 220px;
            }

            @include media-breakpoint-down(mobile) {
                width: 100%;
                margin-top: 35px;
            }
        }
        &-column{
            @media (max-width: 1023px) {
                display: flex;
            }

            @include media-breakpoint-down(mobile) {
                display: block;
            }
        }
    }
}