.main{
    padding: 182px 0 0 0;
    height: 940px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    z-index: 0;

    @include media-breakpoint-down(tablet) {
        height: auto;
        padding: 60px 0 40px 0;
    }

    @include media-breakpoint-down(mobile) {
        padding: 60px 0 60px 0;
    }

    &__title{
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 800;

        @include media-breakpoint-down(tablet) {
            font-size: 45px;
        }

        @include media-breakpoint-down(mobile) {
            font-size: 36px;
            br{
                display: none;
            }
        }
    }
    &__description{
        font-size: 32px;
        margin: 39px 0 70px;

        @include media-breakpoint-down(tablet) {
            font-size: 21px;
            margin: 29px 0 40px;
        }
    }
    &__inner{
        display: flex;

        @include media-breakpoint-down(tablet) {
            padding-bottom: 50px;
            position: relative;  
            align-items: center;
        }

        @include media-breakpoint-down(mobile) {
            display: block;
            padding-bottom: 0;
        }
    }
    &__pic{
        flex-shrink: 0;
        margin-left: -114px;
        margin-right: 88px;
        @include media-breakpoint-down(tablet) {
            min-width: 515px;
            width: 100%;
            flex-shrink: unset;
            margin-right: 20px;
        }

        @include media-breakpoint-down(mobile) {
            position: relative;
            left: -30px;
            margin: 0 -30px 50px -30px;
            min-width: auto;
            width: auto;
        }
    }
    &__text{
        display: inline-block;
        width: 46%;
        font-family: 'Open Sans', sans-serif;

        @include media-breakpoint-down(tablet) {
            width: 100%    
        }
    }
    &__btn{
        width: 250px;
        margin-right: 26px;

        @include media-breakpoint-down(tablet) {
            margin-right: 0;
            margin-bottom: 30px;   
        }

        @include media-breakpoint-down(mobile) {
            width: 290px;
            max-width: 100%;
        }
    }
    &__row{
        display: flex;
        align-items: center;

        @include media-breakpoint-down(tablet) {
            display: block;
        }
    }
    &__wrapper{
        margin-top: 40px;

        @include media-breakpoint-down(tablet) {
            width: 100%;
            margin-top: 0;
        }
    }

    .mouse-icon{
        width: 18px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 20px;
        position: absolute;
        left: 50%;
        bottom: 65px;
        transform: translateX(-50%);

        @include media-breakpoint-down(tablet) {
            bottom: 40px;
        }
        @include media-breakpoint-down(mobile) {
            display: none;
        }
    }
    .mouse-wheel{
        width: 2px;
        height: 6px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }
}