.main(style="background-image: url('assets/images/main/main.png')")
    .container
        .main__inner
            .main__pic
                img(src="assets/images/main/illustration.png", alt="")
            .main__wrapper
                h1.main__title Размер<br> не&nbsp;имеет<br> значения!
                p.main__description Оперативная полиграфия и&nbsp;широкоформатная печать любого размера
                .main__row
                    a.main__btn.btn(href="#") Заказать печать
                    span.main__text с доставкой по Ярославлю и&nbsp;Ярославской области
    .mouse-icon
        .mouse-wheel