.service-contact
    .container
        .service-contact__inner
            .service-contact__wrapper
                span.service-contact__description.description Оперативная полиграфия — от&nbsp;визитки до баннера
                span.service-contact__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                span.service-contact__text.text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error. 
            .service-contact__form
                span.service-contact__form-title Есть вопросы?
                span.service-contact__form-description Оставьте заявку на&nbsp;консультацию
                .service-contact__form-wrapper
                    form.form(action="#")
                        .form__field
                            input.form__input(type="text" name="name" placeholder="Имя" required)
                        .form__field
                            input.form__input(type="text" name="phone" placeholder="Телефон" required)
                        .form__field
                            input.form__btn.btn(type="submit", name="submit" value="Отправить")
            .service-contact__pic-fris
                img(src="assets/images/fris.png", alt="")
            .service-contact__pic-arrow
                <picture>
                    <source media="(max-width: 1279px)" srcset="assets/images/arrow-contact-line-tablet.png">
                    <img src="assets/images/arrow-line-contact.png" alt="">
                </picture>