
.reviews
    .container
        .reviews__title.title 3. Отзывы 
        .reviews__inner
            .reviews__slider
                .swiper-container.swiper-container--reviews
                    .swiper-wrapper
                        .swiper-slide.reviews__item
                            .reviews__avatar(style="background-image: url('assets/images/man1.jpg')")
                            .reviews__wrapper
                                span.reviews__text.text Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили, показали и сделали по высшему разряду. Советую!
                                .reviews__wrapper-profile.profile
                                     span.profile__info Александров Максим, 24 года
                                     a(href="#").profile__link vk.com/mr.sharp
                        .swiper-slide.reviews__item
                            .reviews__avatar(style="background-image: url('assets/images/man2.jpg')")
                            .reviews__wrapper
                                span.reviews__text.text Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили, показали и сделали по высшему разряду. Советую!
                                .reviews__wrapper-profile.profile
                                     span.profile__info Александров Максим, 24 года
                                     a(href="#").profile__link vk.com/mr.sharp
                        .swiper-slide.reviews__item
                            .reviews__avatar(style="background-image: url('assets/images/man3.jpg')")
                            .reviews__wrapper
                                span.reviews__text.text Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили, показали и сделали по высшему разряду. Советую!
                                .reviews__wrapper-profile.profile
                                     span.profile__info Александров Максим, 24 года
                                     a(href="#").profile__link vk.com/mr.sharp
                    .swiper__pagination
                        .reviews-button-prev.swiper-button-prev-custom
                        .reviews-button-next.swiper-button-next-custom

