
.reviews
    .container
        .reviews__title.title 3. Отзывы 
        .reviews__inner
            .reviews__slider
                .swiper-container.swiper-container--reviews
                    .swiper-wrapper
                        .swiper-slide.reviews__item
                            .reviews__avatar(style="background-image: url('assets/images/man1.jpg')")
                        .swiper-slide.reviews__item
                            .reviews__avatar(style="background-image: url('assets/images/man2.jpg')")
                        .swiper-slide.reviews__item
                            .reviews__avatar(style="background-image: url('assets/images/man3.jpg')")
                    .swiper__pagination
                        .reviews-button-prev.swiper-button-prev-custom
                        .reviews-button-next.swiper-button-next-custom

