.service-interior{
    padding-top: 120px;
    padding-bottom: 80px;

    @include media-breakpoint-down(tablet) {
        position: relative;
        padding-bottom: 352px;
    }

    @include media-breakpoint-down(mobile) {
        padding-top: 100px;
    }

    @include media-breakpoint-down(mobile) {
        padding-bottom: 257px;
    }
    &__inner{
        position: relative;
        @include media-breakpoint-down(tablet) {
            position: static;
        }
        .grid-line{
            top: -120px;
            height: 150%;
        }
    }
    &__wrapper{
        position: relative;
        width: 550px;
        max-width: 100%;
        margin-left: auto;
        z-index: 20;

        @include media-breakpoint-down(tablet) {
            margin-left: 0;
            width: 100%;
            padding-right: 165px;
        }

        @include media-breakpoint-down(mobile) {
            padding-right: 0;
        }
        &::after{
            content: '2';
            position: absolute;
            left: -79px;
            bottom: 0;
            top: -104px;
            font-size: 200px;
            font-weight: 900;
            color: #fff;
            text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

            @include media-breakpoint-down(tablet) {
                left: 45px;
            }
        }
    }
    &__description{
        position: relative;
        display: block;
        z-index: 1;

        @include media-breakpoint-down(tablet) {
            max-width: 500px;
        }
    }
    &__btn{
        width: 243px;
        max-width: 100%;
        display: block;
        margin-top: 60px;

        @include media-breakpoint-down(mobile) {
            width: 294px;
        }
    }
    &__pic{
        position: relative;
        left: -144px;
        margin-top: 53px;

        @include media-breakpoint-down(tablet) {
            position: absolute;
            left: auto;
            margin-top: 0;
            width: 996px;
            right: -370px;
            bottom: 0;
        }

        @include media-breakpoint-down(mobile) {
            width: 506px;
            right: -180px;
            bottom: 60px;
        }
        &-flow{
            position: absolute;
            top: -406px;
            left: -102px;

            @include media-breakpoint-down(tablet) {
                position: absolute;
                top: -316px;
                left: 481px;
            }

            @include media-breakpoint-down(mobile) {
                top: -226px;
                left: 250px;
                width: 20%;
            }
        }
        &-divan{
            position: relative;
            z-index: 20;

            @include media-breakpoint-down(tablet) {
                width: 100%;
            }
        }
    }
}