.service-interior
    .container
        .service-interior__inner
            .service-interior__wrapper
                span.service-interior__description.description Широкоформатная печать для&nbsp;вашего интерьера
                span.service-interior__text.text Печатаем широкоформатные фотографии на глянцевой и матовой фотобумаге разной плотности, на глянцевом и матовом холсте или на самоклеющейся пленке. также можем предложить обработку и редактирование ваших фотографий силами наших дизайнеров: композиции, фотоколлаж, ретушь, различные эффекты
                a(href="#").service-interior__btn.btn Оставить заявку
            .service-interior__pic
                .service-interior__pic-divan 
                    img(src="assets/images/divan.png", alt="")
                .service-interior__pic-flow
                    <picture>
                        <source media="(max-width: 1279px)" srcset="assets/images/flow-tablet.png">
                        <img src="assets/images/flow.png" alt="">
                    </picture>
            .grid-line.grid-line--1
            .grid-line.grid-line--2
            .grid-line.grid-line--3
            .grid-line.grid-line--4
            .grid-line.grid-line--5