.service-interior{
    padding-top: 120px;
    padding-bottom: 80px;
    &__inner{
        position: relative;
        .grid-line{
            top: -120px;
            height: 150%;
        }
    }
    &__wrapper{
        position: relative;
        width: 550px;
        max-width: 100%;
        margin-left: auto;
        z-index: 20;
        &::after{
            content: '2';
            position: absolute;
            left: -79px;
            bottom: 0;
            top: -104px;
            font-size: 200px;
            font-weight: 900;
            color: #fff;
            text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        }
    }
    &__description{
        position: relative;
        display: block;
        z-index: 1;
    }
    &__btn{
        width: 243px;
        max-width: 100%;
        display: block;
        margin-top: 60px;
    }
    &__pic{
        position: relative;
        left: -144px;
        margin-top: 53px;
        &-flow{
            position: absolute;
            top: -406px;
            left: -102px;
        }
        &-divan{
            position: relative;
            z-index: 20;
        }
    }
}