.faq{
    padding-top: 26px;
    padding-bottom: 145px;

    @include media-breakpoint-down(tablet) {
        padding-top: 88px;
        padding-bottom: 100px;
    }

    @include media-breakpoint-down(mobile) {
        padding-top: 60px;
    }
    &__subtitle{
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        display: block;
        margin-bottom: 20px;
        color: #383d52;
    }
    &__inner{
        columns: 2;
        margin-top: 63px;
        column-gap: 80px;

        @include media-breakpoint-down(tablet) {
            columns: auto;
        }

        @include media-breakpoint-down(mobile) {
            margin-top: 33px;
        }
    }
    &__item{
        margin-bottom: 40px;
    }
    &__form-wrapper{
        margin-top: 30px;
        background-color: #883eca;
        padding: 45px 70px 55px 309px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        color: #fff;
        box-shadow: 0px 11px 26px 0px rgba(0, 0, 0, 0.5);

        @include media-breakpoint-down(tablet) {
            padding: 45px 30px 50px 36px;
        }

        @include media-breakpoint-down(mobile) {
            padding: 40px 25px 50px;
        }
        .form__input{
            border-color: #fff;
            color: #fff;
            &::placeholder{
                color: #fff;
            }
            @include media-breakpoint-down(tablet) {
                width: 100%;
                margin-right: 0;
            }
        }
        .form__field{
            @include media-breakpoint-down(tablet) {
                &:not(:last-child){
                    width: 33%
                }
            }

            @include media-breakpoint-down(mobile) {
                &:not(:last-child){
                    width: 100%;
                    margin-bottom: 38px;
                }
            }
        }
        .form__btn{
            @include media-breakpoint-down(mobile) {
                width: 100% 
            }
        }
    }
    &__form{
        justify-content: space-between;
        position: relative;
        z-index: 10;

        @include media-breakpoint-down(mobile) {
            display: block;
            margin-top: 30px;
        }
        &-circle{
            position: absolute;
            right: -360px;
            top: -15px;

            @include media-breakpoint-down(tablet) {
                right: -819px;
                top: -5px;
            }

            @include media-breakpoint-down(mobile) {
                display: none;
            }
        }
        &-text{
            position: relative;
            z-index: 10;
        }
        &-title{
            display: block;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            line-height: 30px;
            font-style: italic;
            color: #ffffff;
        }
        &-description{
            display: block;
            color: #ffffff;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            line-height: 30px;
            font-size: 20px;
        }
        &-quest{
            position: absolute;
            left: 30px;
            top: 0;

            @include media-breakpoint-down(tablet) {
                left: auto;
                top: -60px;
                right: -26px;
            }

            @include media-breakpoint-down(mobile) {
                left: auto;
                top: -50px;
                right: -71px;
                width: 171px;
            }
        }
    }
}