.title{
    font-size: 30px;
    color: #7f38bd;
    font-weight: bold;
}

.description{
    font-size: 32px;
    font-weight: 500;
    color: #383d52;
    margin-bottom: 55px;
    display: block;
}

.text{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #5e606a;
    line-height: 24px;
    display: block;
}