.contact-section
    .contact-section__map#map
    .container
        .contact-section__wrapper
            .contact-section__title.title 5. Контакты
            .contact-section__info
                .contact-section__info-item
                    .contact-section__info-icon
                        img(src="assets/images/pin.png", alt="")
                    span.contact-section__info-text г. Ярославль, проспект Октября, 88
                .contact-section__info-item
                    .contact-section__info-icon
                        img(src="assets/images/mail.svg", alt="")
                    a(href="mailto:art-aktiv.76@mail.ru").contact-section__info-text art-aktiv.76@mail.ru
                .contact-section__info-item
                    .contact-section__info-icon.contact-section__info-icon--phone
                        img(src="assets/images/phone.svg", alt="")
                    a(href="tel:+79201488131").contact-section__info-text +7 (920) 148 81 31
